auto-project/auto-nifty/src/main/resources/NiftyCloud.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="https://cp.cloud.nifty.com/api/1.3/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://cp.cloud.nifty.com/api/1.3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="https://cp.cloud.nifty.com/api/1.3/" xmlns:tns="https://cp.cloud.nifty.com/api/1.3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		  <xs:annotation>
		    <xs:documentation xml:lang="en">

		    </xs:documentation>
		  </xs:annotation>


		  <!-- CreateKeyPair request definitions -->

		  <xs:element name="CreateKeyPair" type="tns:CreateKeyPairType"/>

		  <xs:complexType name="CreateKeyPairType">
		    <xs:sequence>
		      <xs:element name="keyName" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="password" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- CreateKeyPair response definitions -->

		  <xs:element name="CreateKeyPairResponse" type="tns:CreateKeyPairResponseType"/>

		  <xs:complexType name="CreateKeyPairResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="keyName" type="xs:string"/>
		      <xs:element name="keyFingerprint" type="xs:string"/>
		      <xs:element name="keyMaterial" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DeleteKeyPair request definitions -->

		  <xs:element name="DeleteKeyPair" type="tns:DeleteKeyPairType"/>

		  <xs:complexType name="DeleteKeyPairType">
		    <xs:sequence>
		      <xs:element name="keyName" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DeleteKeyPair response definitions -->

		  <xs:element name="DeleteKeyPairResponse" type="tns:DeleteKeyPairResponseType"/>

		  <xs:complexType name="DeleteKeyPairResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="return" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeKeyPairs Request definitions -->

		  <xs:element name="DescribeKeyPairs" type="tns:DescribeKeyPairsType"/>

		  <xs:complexType name="DescribeKeyPairsType">
		    <xs:sequence>
		      <xs:element name="keySet" type="tns:DescribeKeyPairsInfoType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeKeyPairsInfoType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeKeyPairsItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeKeyPairsItemType">
		    <xs:sequence>
		      <xs:element name="keyName" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeKeyPairs Response definitions -->

		  <xs:element name="DescribeKeyPairsResponse" type="tns:DescribeKeyPairsResponseType"/>

		  <xs:complexType name="DescribeKeyPairsResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="keySet" type="tns:DescribeKeyPairsResponseInfoType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeKeyPairsResponseInfoType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeKeyPairsResponseItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeKeyPairsResponseItemType">
		    <xs:sequence>
		      <xs:element name="keyName" type="xs:string"/>
		      <xs:element name="keyFingerprint" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- RunInstances request definitions -->

		  <xs:element name="RunInstances" type="tns:RunInstancesType"/>

		  <xs:complexType name="RunInstancesType">
		    <xs:sequence>
		      <xs:element name="imageId" type="xs:string"/>
		      <xs:element name="minCount" type="xs:int"/>
		      <xs:element name="maxCount" type="xs:int"/>
		      <xs:element minOccurs="0" name="keyName" type="xs:string"/>
		      <xs:element name="groupSet" type="tns:GroupSetType"/>
		      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="userData" type="tns:UserDataType"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="addressingType" type="xs:string"/>
		      <xs:element name="instanceType" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="placement" type="tns:PlacementRequestType"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="kernelId" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="ramdiskId" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="blockDeviceMapping" type="tns:BlockDeviceMappingType"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="monitoring" type="tns:MonitoringInstanceType"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="subnetId" type="xs:string"/>
			  <xs:element maxOccurs="1" minOccurs="0" name="disableApiTermination" type="xs:boolean"/>
			  <xs:element maxOccurs="1" minOccurs="0" name="instanceInitiatedShutdownBehavior" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="accountingType" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="instanceId" type="xs:string"/>
		      <!-- niftyCloud -->
		      <xs:element name="password" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="admin" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="GroupSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:GroupItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="GroupItemType">
		    <xs:sequence>
		      <xs:element name="groupId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType mixed="true" name="UserDataType">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="data" type="xs:string"/>
		    </xs:sequence>
		    <xs:attribute fixed="1.0" name="version" type="xs:string" use="required"/>
		    <xs:attribute fixed="base64" name="encoding" type="xs:string" use="required"/>
		  </xs:complexType>

		  <xs:complexType name="BlockDeviceMappingType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:BlockDeviceMappingItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="BlockDeviceMappingItemType">
		    <xs:sequence>
		      <xs:element name="deviceName" type="xs:string"/>
			  <xs:choice>
			    <xs:element name="virtualName" type="xs:string"/>
			    <xs:element name="ebs" type="tns:EbsBlockDeviceType"/>
			    <xs:element name="noDevice" type="tns:EmptyElementType"/>
			  </xs:choice>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="EbsBlockDeviceType">
		    <xs:sequence>
			  <xs:element minOccurs="0" name="snapshotId" type="xs:string"/>
			  <xs:element minOccurs="0" name="volumeSize" type="xs:int"/>
			  <xs:element minOccurs="0" name="deleteOnTermination" type="xs:boolean"/>
			</xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="PlacementRequestType">
		    <xs:sequence>
		      <xs:element maxOccurs="1" minOccurs="0" name="availabilityZone" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="MonitoringInstanceType">
		    <xs:sequence>
		      <xs:element maxOccurs="1" minOccurs="0" name="enabled" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- RunInstances response definitions -->

		  <xs:element name="RunInstancesResponse" type="tns:RunInstancesResponseType"/>

		  <xs:complexType name="RunInstancesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="reservationId" type="xs:string"/>
		      <xs:element name="ownerId" type="xs:string"/>
		      <xs:element name="groupSet" type="tns:GroupSetType"/>
		      <xs:element name="instancesSet" type="tns:RunningInstancesSetType"/>
		      <xs:element minOccurs="0" name="requesterId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="ReservationInfoType">
		    <xs:sequence>
		      <xs:element name="reservationId" type="xs:string"/>
		      <xs:element name="ownerId" type="xs:string"/>
		      <xs:element name="groupSet" type="tns:GroupSetType"/>
		      <xs:element name="instancesSet" type="tns:RunningInstancesSetType"/>
		      <xs:element minOccurs="0" name="requesterId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="RunningInstancesSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="1" name="item" type="tns:RunningInstancesItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="RunningInstancesItemType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element minOccurs="0" name="imageId" type="xs:string"/>
		      <xs:element name="instanceState" type="tns:InstanceStateType"/>
		      <xs:element name="privateDnsName" type="xs:string"/>
		      <xs:element minOccurs="0" name="dnsName" type="xs:string"/>
		      <xs:element minOccurs="0" name="reason" type="xs:string"/>
		      <xs:element minOccurs="0" name="keyName" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="amiLaunchIndex" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="productCodes" type="tns:ProductCodesSetType"/>
		      <xs:element name="instanceType" type="xs:string"/>
		      <xs:element name="launchTime" type="xs:dateTime"/>
		      <xs:element minOccurs="0" name="placement" type="tns:PlacementResponseType"/>
		      <xs:element minOccurs="0" name="kernelId" type="xs:string"/>
		      <xs:element minOccurs="0" name="ramdiskId" type="xs:string"/>
		      <xs:element minOccurs="0" name="platform" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="monitoring" type="tns:InstanceMonitoringStateType"/>
		      <xs:element minOccurs="0" name="subnetId" type="xs:string"/>
		      <xs:element minOccurs="0" name="vpcId" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="privateIpAddress" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="ipAddress" type="xs:string"/>
		      <xs:element minOccurs="0" name="stateReason" type="tns:StateReasonType"/>
		      <xs:element minOccurs="0" name="architecture" type="xs:string"/>
			  <xs:element minOccurs="0" name="rootDeviceType" type="xs:string"/>
		      <xs:element minOccurs="0" name="rootDeviceName" type="xs:string"/>
			  <xs:element minOccurs="0" name="blockDeviceMapping" type="tns:InstanceBlockDeviceMappingResponseType"/>
		      <xs:element minOccurs="0" name="instanceLifecycle" type="xs:string"/>
		      <xs:element minOccurs="0" name="spotInstanceRequestId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="PlacementResponseType">
		    <xs:sequence>
		      <xs:element name="availabilityZone" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="InstanceMonitoringStateType">
		    <xs:sequence>
		      <xs:element name="state" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="StateReasonType">
		    <xs:sequence>
		      <xs:element name="code" type="xs:string"/>
		      <xs:element name="message" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="InstanceBlockDeviceMappingResponseType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:InstanceBlockDeviceMappingResponseItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="InstanceBlockDeviceMappingResponseItemType">
		    <xs:sequence>
		      <xs:element name="deviceName" type="xs:string"/>
			  <xs:choice>
			    <xs:element name="ebs" type="tns:EbsInstanceBlockDeviceMappingResponseType"/>
			  </xs:choice>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="EbsInstanceBlockDeviceMappingResponseType">
		    <xs:sequence>
			  <xs:element name="volumeId" type="xs:string"/>
			  <xs:element name="status" type="xs:string"/>
			  <xs:element name="attachTime" type="xs:dateTime"/>
			  <xs:element minOccurs="0" name="deleteOnTermination" type="xs:boolean"/>
			</xs:sequence>
		  </xs:complexType>

		  <!-- TerminateInstances -->

		  <xs:complexType name="InstanceIdType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="accountingType" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="instanceType" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="InstanceIdSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:InstanceIdType"/>
		    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="InstanceStateChangeType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element name="currentState" type="tns:InstanceStateType"/>
		      <xs:element name="previousState" type="tns:InstanceStateType"/>
		    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="InstanceStateChangeSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:InstanceStateChangeType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:element name="TerminateInstances" type="tns:TerminateInstancesType"/>
		  <xs:element name="TerminateInstancesResponse" type="tns:TerminateInstancesResponseType"/>
		  <xs:complexType name="TerminateInstancesType">
		    <xs:sequence>
		      <xs:element name="instancesSet" type="tns:InstanceIdSetType"/>
		    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="TerminateInstancesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="instancesSet" type="tns:InstanceStateChangeSetType"/>
		    </xs:sequence>
		  </xs:complexType>


		  <xs:complexType name="InstanceBlockDeviceMappingType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:InstanceBlockDeviceMappingItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="InstanceBlockDeviceMappingItemType">
		    <xs:sequence>
		      <xs:element name="deviceName" type="xs:string"/>
			  <xs:choice>
			    <xs:element name="virtualName" type="xs:string"/>
			    <xs:element name="ebs" type="tns:InstanceEbsBlockDeviceType"/>
			    <xs:element name="noDevice" type="tns:EmptyElementType"/>
			  </xs:choice>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="InstanceEbsBlockDeviceType">
		    <xs:sequence>
			  <xs:element name="volumeId" type="xs:string"/>
			  <xs:element minOccurs="0" name="deleteOnTermination" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- Stop instances -->

		  <xs:element name="StopInstances" type="tns:StopInstancesType"/>
		  <xs:element name="StopInstancesResponse" type="tns:StopInstancesResponseType"/>
		  <xs:complexType name="StopInstancesType">
		    <xs:sequence>
		      <xs:element name="instancesSet" type="tns:InstanceIdSetType"/>
		      <xs:element minOccurs="0" name="force" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="StopInstancesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="instancesSet" type="tns:InstanceStateChangeSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!--  Start instances -->
		  <xs:element name="StartInstances" type="tns:StartInstancesType"/>
		  <xs:element name="StartInstancesResponse" type="tns:StartInstancesResponseType"/>
		   <xs:complexType name="StartInstancesType">
		    <xs:sequence>
		      <xs:element name="instancesSet" type="tns:InstanceIdSetType"/>
		    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="StartInstancesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="instancesSet" type="tns:InstanceStateChangeSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- RebootInstances request definitions -->
		  <xs:element name="RebootInstances" type="tns:RebootInstancesType"/>

		  <xs:complexType name="RebootInstancesType">
		    <xs:sequence>
		      <xs:element name="instancesSet" type="tns:RebootInstancesInfoType"/>
		      <xs:element minOccurs="0" name="force" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="RebootInstancesInfoType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="1" name="item" type="tns:RebootInstancesItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="RebootInstancesItemType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- RebootInstances response definitions -->

		  <xs:element name="RebootInstancesResponse" type="tns:RebootInstancesResponseType"/>

		  <xs:complexType name="RebootInstancesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="return" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeInstances Request definitions -->

		  <xs:element name="DescribeInstances" type="tns:DescribeInstancesType"/>

		  <xs:complexType name="DescribeInstancesType">
		    <xs:sequence>
		      <xs:element name="instancesSet" type="tns:DescribeInstancesInfoType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeInstancesInfoType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeInstancesItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeInstancesItemType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeInstances Response definitions -->

		  <xs:element name="DescribeInstancesResponse" type="tns:DescribeInstancesResponseType"/>

		  <xs:complexType name="DescribeInstancesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="reservationSet" type="tns:ReservationSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="ReservationSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ReservationInfoType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeImages Request definitions -->

		  <xs:element name="DescribeImages" type="tns:DescribeImagesType"/>

		  <xs:complexType name="DescribeImagesType">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="executableBySet" type="tns:DescribeImagesExecutableBySetType"/>
		      <xs:element name="imagesSet" type="tns:DescribeImagesInfoType"/>
		      <xs:element minOccurs="0" name="ownersSet" type="tns:DescribeImagesOwnersType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesInfoType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeImagesItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesItemType">
		    <xs:sequence>
		      <xs:element name="imageId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesOwnersType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeImagesOwnerType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesOwnerType">
		    <xs:sequence>
		      <xs:element name="owner" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesExecutableBySetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeImagesExecutableByType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesExecutableByType">
		    <xs:sequence>
		      <xs:element name="user" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeImages Response definitions -->

		  <xs:element name="DescribeImagesResponse" type="tns:DescribeImagesResponseType"/>

		  <xs:complexType name="DescribeImagesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="imagesSet" type="tns:DescribeImagesResponseInfoType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesResponseInfoType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeImagesResponseItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeImagesResponseItemType">
		    <xs:sequence>
		      <xs:element name="imageId" type="xs:string"/>
		      <xs:element minOccurs="0" name="imageLocation" type="xs:string"/>
		      <xs:element name="imageState" type="xs:string"/>
		      <xs:element name="imageOwnerId" type="xs:string"/>
		      <xs:element name="isPublic" type="xs:boolean"/>
		      <xs:element minOccurs="0" name="productCodes" type="tns:ProductCodesSetType"/>
		      <xs:element minOccurs="0" name="architecture" type="xs:string"/>
		      <xs:element minOccurs="0" name="imageType" type="xs:string"/>
		      <xs:element minOccurs="0" name="kernelId" type="xs:string"/>
		      <xs:element minOccurs="0" name="ramdiskId" type="xs:string"/>
		      <xs:element minOccurs="0" name="platform" type="xs:string"/>
			  <xs:element minOccurs="0" name="stateReason" type="tns:StateReasonType"/>
		      <xs:element minOccurs="0" name="imageOwnerAlias" type="xs:string"/>
			  <xs:element minOccurs="0" name="name" type="xs:string"/>
		      <xs:element minOccurs="0" name="description" type="xs:string"/>
			  <xs:element minOccurs="0" name="rootDeviceType" type="xs:string"/>
		      <xs:element minOccurs="0" name="rootDeviceName" type="xs:string"/>
		      <xs:element minOccurs="0" name="blockDeviceMapping" type="tns:BlockDeviceMappingType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- Instance state type definition -->

		  <xs:complexType name="InstanceStateType">
		    <xs:sequence>
		      <xs:element name="code" type="xs:int"/>
		      <xs:element name="name" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- ModifyInstanceAttribute Definitions -->

		  <xs:element name="ModifyInstanceAttribute" type="tns:ModifyInstanceAttributeType"/>

		  <xs:complexType name="ModifyInstanceAttributeType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
			  <xs:choice>
		        <xs:element name="instanceType" type="tns:AttributeValueType"/>
		        <xs:element name="kernel" type="tns:AttributeValueType"/>
		        <xs:element name="ramdisk" type="tns:AttributeValueType"/>
				<xs:element name="userData" type="tns:AttributeValueType"/>
				<xs:element name="disableApiTermination" type="tns:AttributeBooleanValueType"/>
				<xs:element name="instanceInitiatedShutdownBehavior" type="tns:AttributeValueType"/>
				<xs:element name="blockDeviceMapping" type="tns:InstanceBlockDeviceMappingType"/>
		        <xs:element name="instanceName" type="tns:AttributeValueType"/>
			  </xs:choice>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AttributeValueType">
		    <xs:sequence>
		      <xs:element name="value" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AttributeBooleanValueType">
		    <xs:sequence>
		      <xs:element name="value" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>


		  <!-- ModifyInstanceAttributeResponse Definitions -->

		  <xs:element name="ModifyInstanceAttributeResponse" type="tns:ModifyInstanceAttributeResponseType"/>

		  <xs:complexType name="ModifyInstanceAttributeResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="return" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeInstanceAttribute Definitions -->

		  <xs:element name="DescribeInstanceAttribute" type="tns:DescribeInstanceAttributeType"/>

		  <xs:complexType name="DescribeInstanceAttributeType">
		    <xs:sequence>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:group ref="tns:DescribeInstanceAttributesGroup"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:group name="DescribeInstanceAttributesGroup">
		    <xs:choice>
		      <xs:element name="instanceType" type="tns:EmptyElementType"/>
		      <xs:element name="kernel" type="tns:EmptyElementType"/>
		      <xs:element name="ramdisk" type="tns:EmptyElementType"/>
			  <xs:element name="userData" type="tns:EmptyElementType"/>
			  <xs:element name="disableApiTermination" type="tns:EmptyElementType"/>
			  <xs:element name="instanceInitiatedShutdownBehavior" type="tns:EmptyElementType"/>
			  <xs:element name="rootDeviceName" type="tns:EmptyElementType"/>
			  <xs:element name="blockDeviceMapping" type="tns:EmptyElementType"/>
		    </xs:choice>
		  </xs:group>


		  <!-- DescribeInstanceAttribute Response Definitions -->

		  <xs:element name="DescribeInstanceAttributeResponse" type="tns:DescribeInstanceAttributeResponseType"/>

		  <xs:complexType name="DescribeInstanceAttributeResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:choice>
		        <xs:element name="instanceType" type="tns:NullableAttributeValueType"/>
		        <xs:element name="kernel" type="tns:NullableAttributeValueType"/>
		        <xs:element name="ramdisk" type="tns:NullableAttributeValueType"/>
		        <xs:element name="userData" type="tns:NullableAttributeValueType"/>
			    <xs:element name="disableApiTermination" type="tns:NullableAttributeBooleanValueType"/>
			    <xs:element name="instanceInitiatedShutdownBehavior" type="tns:NullableAttributeValueType"/>
				<xs:element name="rootDeviceName" type="tns:NullableAttributeValueType"/>
			    <xs:element name="blockDeviceMapping" type="tns:InstanceBlockDeviceMappingResponseType"/>
		      </xs:choice>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="NullableAttributeValueType">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="value" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="NullableAttributeBooleanValueType">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="value" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>


		  <!-- DescribeAvailabilityZones Definitions -->

		  <xs:element name="DescribeAvailabilityZones" type="tns:DescribeAvailabilityZonesType"/>

		  <xs:complexType name="DescribeAvailabilityZonesType">
		    <xs:sequence>
		      <xs:element name="availabilityZoneSet" type="tns:DescribeAvailabilityZonesSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeAvailabilityZonesSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeAvailabilityZonesSetItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeAvailabilityZonesSetItemType">
		    <xs:sequence>
		      <xs:element name="zoneName" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeAvailabilityZones Response definitions -->

		  <xs:element name="DescribeAvailabilityZonesResponse" type="tns:DescribeAvailabilityZonesResponseType"/>

		  <xs:complexType name="DescribeAvailabilityZonesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="availabilityZoneInfo" type="tns:AvailabilityZoneSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AvailabilityZoneSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:AvailabilityZoneItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AvailabilityZoneMessageType">
		    <xs:sequence>
		      <xs:element name="message" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AvailabilityZoneMessageSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:AvailabilityZoneMessageType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AvailabilityZoneItemType">
		    <xs:sequence>
		      <xs:element name="zoneName" type="xs:string"/>
		      <xs:element name="zoneState" type="xs:string"/>
		      <xs:element name="regionName" type="xs:string"/>
		      <xs:element name="messageSet" type="tns:AvailabilityZoneMessageSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- CreateVolume request definitions -->

		  <xs:element name="CreateVolume" type="tns:CreateVolumeType"/>

		  <xs:complexType name="CreateVolumeType">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="size" type="xs:string"/>
		      <xs:element minOccurs="0" name="snapshotId" type="xs:string"/>
		      <xs:element name="availabilityZone" type="xs:string"/>
		      <xs:element minOccurs="0" name="volumeId" type="xs:string"/>
		      <xs:element minOccurs="0" name="diskType" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="1" name="instanceId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- CreateVolume response definitions -->

		  <xs:element name="CreateVolumeResponse" type="tns:CreateVolumeResponseType"/>

		  <xs:complexType name="CreateVolumeResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element name="size" type="xs:string"/>
		      <xs:element name="snapshotId" type="xs:string"/>
		      <xs:element name="availabilityZone" type="xs:string"/>
		      <xs:element name="status" type="xs:string"/>
		      <xs:element name="createTime" type="xs:dateTime"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DeleteVolume request definitions -->

		  <xs:element name="DeleteVolume" type="tns:DeleteVolumeType"/>

		  <xs:complexType name="DeleteVolumeType">
		    <xs:sequence>
		      <xs:element name="volumeId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DeleteVolume response definitions -->

		  <xs:element name="DeleteVolumeResponse" type="tns:DeleteVolumeResponseType"/>

		  <xs:complexType name="DeleteVolumeResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="return" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeVolumes request definitions -->

		  <xs:element name="DescribeVolumes" type="tns:DescribeVolumesType"/>

		  <xs:complexType name="DescribeVolumesType">
		    <xs:sequence>
		      <xs:element name="volumeSet" type="tns:DescribeVolumesSetType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeVolumesSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeVolumesSetItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeVolumesSetItemType">
		    <xs:sequence>
		      <xs:element name="volumeId" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DescribeVolumes response definitions -->

		  <xs:element name="DescribeVolumesResponse" type="tns:DescribeVolumesResponseType"/>

		  <xs:complexType name="DescribeVolumesResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="volumeSet" type="tns:DescribeVolumesSetResponseType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeVolumesSetResponseType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:DescribeVolumesSetItemResponseType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="DescribeVolumesSetItemResponseType">
		    <xs:sequence>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element name="size" type="xs:string"/>
		      <xs:element name="snapshotId" type="xs:string"/>
		      <xs:element name="availabilityZone" type="xs:string"/>
		      <xs:element name="status" type="xs:string"/>
		      <xs:element name="createTime" type="xs:dateTime"/>
		      <xs:element name="attachmentSet" type="tns:AttachmentSetResponseType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AttachmentSetResponseType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:AttachmentSetItemResponseType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="AttachmentSetItemResponseType">
		    <xs:sequence>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element name="device" type="xs:string"/>
		      <xs:element name="status" type="xs:string"/>
		      <xs:element name="attachTime" type="xs:dateTime"/>
			  <xs:element name="deleteOnTermination" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- AttachVolume request definitions -->

		  <xs:element name="AttachVolume" type="tns:AttachVolumeType"/>

		  <xs:complexType name="AttachVolumeType">
		    <xs:sequence>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element name="device" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- AttachVolume response definitions -->

		  <xs:element name="AttachVolumeResponse" type="tns:AttachVolumeResponseType"/>

		  <xs:complexType name="AttachVolumeResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element name="device" type="xs:string"/>
		      <xs:element name="status" type="xs:string"/>
		      <xs:element name="attachTime" type="xs:dateTime"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DetachVolume request definitions -->

		  <xs:element name="DetachVolume" type="tns:DetachVolumeType"/>

		  <xs:complexType name="DetachVolumeType">
		    <xs:sequence>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="instanceId" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="device" type="xs:string"/>
		      <xs:element maxOccurs="1" minOccurs="0" name="force" type="xs:boolean"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- DetachVolume response definitions -->

		  <xs:element name="DetachVolumeResponse" type="tns:DetachVolumeResponseType"/>

		  <xs:complexType name="DetachVolumeResponseType">
		    <xs:sequence>
		      <xs:element name="requestId" type="xs:string"/>
		      <xs:element name="volumeId" type="xs:string"/>
		      <xs:element name="instanceId" type="xs:string"/>
		      <xs:element name="device" type="xs:string"/>
		      <xs:element name="status" type="xs:string"/>
		      <xs:element name="attachTime" type="xs:dateTime"/>
		    </xs:sequence>
		  </xs:complexType>

		  <!-- Common Type definitions -->

		  <xs:complexType name="ProductCodesSetType">
		    <xs:sequence>
		      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ProductCodesSetItemType"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="ProductCodesSetItemType">
		    <xs:sequence>
		      <xs:element name="productCode" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="EmptyElementType">
		  </xs:complexType>


		</xs:schema>
  </types>

  <message name="DescribeInstanceAttributeRequestMsg">
    <part name="DescribeInstanceAttributeRequestMsgReq" element="tns:DescribeInstanceAttribute">
    </part>
  </message>
  <message name="DescribeInstanceAttributeResponseMsg">
    <part name="DescribeInstanceAttributeRequestMsgResp" element="tns:DescribeInstanceAttributeResponse">
    </part>
  </message>
  <message name="DescribeInstancesRequestMsg">
    <part name="DescribeInstancesRequestMsgReq" element="tns:DescribeInstances">
    </part>
  </message>
  <message name="DescribeInstancesResponseMsg">
    <part name="DescribeInstancesRequestMsgResp" element="tns:DescribeInstancesResponse">
    </part>
  </message>
  <message name="ModifyInstanceAttributeRequestMsg">
    <part name="ModifyInstanceAttributeRequestMsgReq" element="tns:ModifyInstanceAttribute">
    </part>
  </message>
  <message name="ModifyInstanceAttributeResponseMsg">
    <part name="ModifyInstanceAttributeRequestMsgResp" element="tns:ModifyInstanceAttributeResponse">
    </part>
  </message>
  <message name="RebootInstancesRequestMsg">
    <part name="RebootInstancesRequestMsgReq" element="tns:RebootInstances">
    </part>
  </message>
  <message name="RebootInstancesResponseMsg">
    <part name="RebootInstancesRequestMsgResp" element="tns:RebootInstancesResponse">
    </part>
  </message>
  <message name="RunInstancesRequestMsg">
    <part name="RunInstancesRequestMsgReq" element="tns:RunInstances">
    </part>
  </message>
  <message name="RunInstancesResponseMsg">
    <part name="RunInstancesResponseMsgResp" element="tns:RunInstancesResponse">
    </part>
  </message>
  <message name="StartInstancesRequestMsg">
    <part name="StartInstancesRequestMsgReq" element="tns:StartInstances">
    </part>
  </message>
  <message name="StartInstancesResponseMsg">
    <part name="StartInstancesResponseMsgResp" element="tns:StartInstancesResponse">
    </part>
  </message>
  <message name="StopInstancesRequestMsg">
    <part name="StopInstancesRequestMsgReq" element="tns:StopInstances">
    </part>
  </message>
  <message name="StopInstancesResponseMsg">
    <part name="StopInstancesResponseMsgResp" element="tns:StopInstancesResponse">
    </part>
  </message>
  <message name="TerminateInstancesRequestMsg">
    <part name="TerminateInstancesRequestMsgReq" element="tns:TerminateInstances">
    </part>
  </message>
  <message name="TerminateInstancesResponseMsg">
    <part name="TerminateInstancesResponseMsgResp" element="tns:TerminateInstancesResponse">
    </part>
  </message>
  <message name="AttachVolumeRequestMsg">
    <part name="AttachVolumeRequestMsgReq" element="tns:AttachVolume">
    </part>
  </message>
  <message name="AttachVolumeResponseMsg">
    <part name="AttachVolumeResponseMsgResp" element="tns:AttachVolumeResponse">
    </part>
  </message>
  <message name="CreateVolumeRequestMsg">
    <part name="CreateVolumeRequestMsgReq" element="tns:CreateVolume">
    </part>
  </message>
  <message name="CreateVolumeResponseMsg">
    <part name="CreateVolumeRequestMsgResp" element="tns:CreateVolumeResponse">
    </part>
  </message>
  <message name="DeleteVolumeRequestMsg">
    <part name="DeleteVolumeRequestMsgReq" element="tns:DeleteVolume">
    </part>
  </message>
  <message name="DeleteVolumeResponseMsg">
    <part name="DeleteVolumeRequestMsgResp" element="tns:DeleteVolumeResponse">
    </part>
  </message>
  <message name="DescribeVolumesRequestMsg">
    <part name="DescribeVolumesRequestMsgReq" element="tns:DescribeVolumes">
    </part>
  </message>
  <message name="DescribeVolumesResponseMsg">
    <part name="DescribeVolumesRequestMsgResp" element="tns:DescribeVolumesResponse">
    </part>
  </message>
  <message name="DetachVolumeRequestMsg">
    <part name="DetachVolumeRequestMsgReq" element="tns:DetachVolume">
    </part>
  </message>
  <message name="DetachVolumeResponseMsg">
    <part name="DetachVolumeResponseMsgResp" element="tns:DetachVolumeResponse">
    </part>
  </message>
  <message name="CreateKeyPairRequestMsg">
    <part name="CreateKeyPairRequestMsgReq" element="tns:CreateKeyPair">
    </part>
  </message>
  <message name="CreateKeyPairResponseMsg">
    <part name="CreateKeyPairResponseMsgResp" element="tns:CreateKeyPairResponse">
    </part>
  </message>
  <message name="DeleteKeyPairRequestMsg">
    <part name="DeleteKeyPairRequestMsgReq" element="tns:DeleteKeyPair">
    </part>
  </message>
  <message name="DeleteKeyPairResponseMsg">
    <part name="DeleteKeyPairResponseMsgResp" element="tns:DeleteKeyPairResponse">
    </part>
  </message>
  <message name="DescribeKeyPairsRequestMsg">
    <part name="DescribeKeyPairsRequestMsgReq" element="tns:DescribeKeyPairs">
    </part>
  </message>
  <message name="DescribeKeyPairsResponseMsg">
    <part name="DescribeKeyPairsResponseMsgResp" element="tns:DescribeKeyPairsResponse">
    </part>
  </message>
  <message name="DescribeImagesRequestMsg">
    <part name="DescribeImagesRequestMsgReq" element="tns:DescribeImages">
    </part>
  </message>
  <message name="DescribeImagesResponseMsg">
    <part name="DescribeImagesRequestMsgResp" element="tns:DescribeImagesResponse">
    </part>
  </message>
  <message name="DescribeAvailabilityZonesRequestMsg">
    <part name="DescribeAvailabilityZonesRequestMsgReq" element="tns:DescribeAvailabilityZones">
    </part>
  </message>
  <message name="DescribeAvailabilityZonesResponseMsg">
    <part name="DescribeAvailabilityZonesRequestMsgResp" element="tns:DescribeAvailabilityZonesResponse">
    </part>
  </message>

  <portType name="NiftyCloudPortType">
    <operation name="DescribeInstanceAttribute">
      <input message="tns:DescribeInstanceAttributeRequestMsg">
    </input>
      <output message="tns:DescribeInstanceAttributeResponseMsg">
    </output>
    </operation>
    <operation name="DescribeInstances">
      <input message="tns:DescribeInstancesRequestMsg">
    </input>
      <output message="tns:DescribeInstancesResponseMsg">
    </output>
    </operation>
    <operation name="ModifyInstanceAttribute">
      <input message="tns:ModifyInstanceAttributeRequestMsg">
    </input>
      <output message="tns:ModifyInstanceAttributeResponseMsg">
    </output>
    </operation>
    <operation name="RebootInstances">
      <input message="tns:RebootInstancesRequestMsg">
    </input>
      <output message="tns:RebootInstancesResponseMsg">
    </output>
    </operation>
    <operation name="RunInstances">
      <input message="tns:RunInstancesRequestMsg">
    </input>
      <output message="tns:RunInstancesResponseMsg">
    </output>
    </operation>
    <operation name="StartInstances">
      <input message="tns:StartInstancesRequestMsg">
    </input>
      <output message="tns:StartInstancesResponseMsg">
    </output>
    </operation>
    <operation name="StopInstances">
      <input message="tns:StopInstancesRequestMsg">
    </input>
      <output message="tns:StopInstancesResponseMsg">
    </output>
    </operation>
    <operation name="TerminateInstances">
      <input message="tns:TerminateInstancesRequestMsg">
    </input>
      <output message="tns:TerminateInstancesResponseMsg">
    </output>
    </operation>
    <operation name="AttachVolume">
      <input message="tns:AttachVolumeRequestMsg">
    </input>
      <output message="tns:AttachVolumeResponseMsg">
    </output>
    </operation>
    <operation name="CreateVolume">
      <input message="tns:CreateVolumeRequestMsg">
    </input>
      <output message="tns:CreateVolumeResponseMsg">
    </output>
    </operation>
    <operation name="DeleteVolume">
      <input message="tns:DeleteVolumeRequestMsg">
    </input>
      <output message="tns:DeleteVolumeResponseMsg">
    </output>
    </operation>
    <operation name="DescribeVolumes">
      <input message="tns:DescribeVolumesRequestMsg">
    </input>
      <output message="tns:DescribeVolumesResponseMsg">
    </output>
    </operation>
    <operation name="DetachVolume">
      <input message="tns:DetachVolumeRequestMsg">
    </input>
      <output message="tns:DetachVolumeResponseMsg">
    </output>
    </operation>
    <operation name="CreateKeyPair">
      <input message="tns:CreateKeyPairRequestMsg">
    </input>
      <output message="tns:CreateKeyPairResponseMsg">
    </output>
    </operation>
    <operation name="DeleteKeyPair">
      <input message="tns:DeleteKeyPairRequestMsg">
    </input>
      <output message="tns:DeleteKeyPairResponseMsg">
    </output>
    </operation>
    <operation name="DescribeKeyPairs">
      <input message="tns:DescribeKeyPairsRequestMsg">
    </input>
      <output message="tns:DescribeKeyPairsResponseMsg">
    </output>
    </operation>
    <operation name="DescribeImages">
      <input message="tns:DescribeImagesRequestMsg">
    </input>
      <output message="tns:DescribeImagesResponseMsg">
    </output>
    </operation>
    <operation name="DescribeAvailabilityZones">
      <input message="tns:DescribeAvailabilityZonesRequestMsg">
    </input>
      <output message="tns:DescribeAvailabilityZonesResponseMsg">
    </output>
    </operation>
  </portType>

  <binding name="NiftyCloudBinding" type="tns:NiftyCloudPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DescribeInstanceAttribute">
      <soap:operation soapAction="DescribeInstanceAttribute"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DescribeInstances">
      <soap:operation soapAction="DescribeInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ModifyInstanceAttribute">
      <soap:operation soapAction="ModifyInstanceAttribute"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RebootInstances">
      <soap:operation soapAction="RebootInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RunInstances">
      <soap:operation soapAction="RunInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StartInstances">
      <soap:operation soapAction="StartInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StopInstances">
      <soap:operation soapAction="StopInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TerminateInstances">
      <soap:operation soapAction="TerminateInstances"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AttachVolume">
      <soap:operation soapAction="AttachVolume"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateVolume">
      <soap:operation soapAction="CreateVolume"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteVolume">
      <soap:operation soapAction="DeleteVolume"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DescribeVolumes">
      <soap:operation soapAction="DescribeVolumes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DetachVolume">
      <soap:operation soapAction="DetachVolume"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateKeyPair">
      <soap:operation soapAction="CreateKeyPair"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DeleteKeyPair">
      <soap:operation soapAction="DeleteKeyPair"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DescribeKeyPairs">
      <soap:operation soapAction="DescribeKeyPairs"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DescribeImages">
      <soap:operation soapAction="DescribeImages"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DescribeAvailabilityZones">
      <soap:operation soapAction="DescribeAvailabilityZones"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>


  <service name="NiftyCloud">
    <port name="NiftyCloudPort" binding="tns:NiftyCloudBinding">
      <soap:address location="https://cp.cloud.nifty.com/api/services/NiftyCloud/" />
    </port>
  </service>
</definitions>
